# Ignore local build and rendering artifacts
.build/
.build*
.env

# Ignore synced CUE external packages/libraries
**/cue.mod/pkg/github.com/epcim/mxc-library

# Ignore vendir lockfiles
**/vendir.lock.yml

# Ignore compiled parameters
**/vars.yml

.envrc.local
external/
mxc-library/
walkthrough.md
